@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  #left_side_intro{
    margin-right: 0;
    margin-left: 5%;;
  }

  #right_side_intro >figure > img{
    margin-top: 31%;
    width: 275px;
    height: 275px;
  }

  #underline_intro{
    margin-top: 5%;
    margin-left: 17.5%;
    width: 38% !important;
  }


  #left_side_competances{
    margin-top: 45% !important;
  }
}
